.hidden {
    display: none;
}

.showing {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
}

.delete-modal {
    height: 600px;
    width: 500px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 50px;
}

.user-info {
    padding: 30px;
}

.bold {
    font-weight: bold;
}

.buttons {
    position: relative;
    top: 250px;
    left: 100px
}