.background {
    position: fixed;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #DEE4E7;

    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;

    .title {
        font-size: 36px;
        margin-bottom: 50px;
    }
}